@import url('https://fonts.googleapis.com/css?family=Merienda+One|Open+Sans&display=swap');

body {
	font-family: 'Open Sans', 'Arial', 'sans-serif';
	margin: 0;
	background-color: #6A994E;
	color: #F2E8CF;
}

h1,h2,h3 {
	font-family: 'Merienda One', 'Brush Script MT', cursive;
	color: #F2E8CF;
	text-decoration: underline; 
}

h1 {
	font-size: 3rem;
	margin: 0;
}

h2 {
	font-size: xx-large;
}

header {
	color: beige;
}

header > p {
	color: #386641;
}

header {
	background-color: #386641;
}

p {color: #F2E8CF;}



#about {
	padding: 1rem 0;
	margin-bottom: 80px;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1630432328419-bee5f50d6390?q=80&w=2488&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') center center / cover no-repeat fixed;
}

.text-white {
	color: #FFFFFF;
}

.black-background {
    background-color: black;
}

#home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1564769662533-4f00a87b4056?q=80&w=2488&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

.page-header {
	height: 50vh;
	background: center 75% / cover no-repeat;
}


.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

strong {
	font-size: 1.3rem;
}

.text-uppercase {
    text-transform: uppercase;
}

.underline {
	text-decoration: underline;
}



nav {
	padding: 1rem;
}

nav > a {
	text-decoration: none;
	color: beige;
	margin: 1rem;
}

nav > a:hover {
	color: silver;
}

a {
	text-decoration: none;
	color: beige;
	margin: 1rem;
}

.bold {
	font-weight: bold;
}

small {
	font-style: italic;
}

img {
	border-radius: 8px;
	width: 96%;
	margin: 2%;
}

#story-box {
	background-color: #386641;
    position: relative;
    left: 70px;
    top: -15px;
	box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
	}

#walls-box {
	background-color: #386641;
	position: relative;
	z-index: 1;
	box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
}

#facilities-box {
	background-color: #386641;
    position: relative;
    right: 70px;
    top: -15px;
	box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
	}

.about-box{width: 33%}

.one-third-width-column {
    width: 33.33%;
}

.two-thirds-width-column {
    width: 66.66%;
}

.intro-box {
	padding: 10px 5px 25px 5px;
	border-radius: 8px;
	width: 100%;
	margin: 2%;
	background-color: chocolate;
    position: relative;
    left: 20%;
    top: 30px;
}

.solid {border-style: solid}

.about-box {
	width: 33%;
	margin: 1rem 0;
	display: inline-block;
	
}


#contact {
    margin-bottom: 105px;
	padding: 1rem 0;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1630432328419-bee5f50d6390?q=80&w=2488&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') center center / cover no-repeat fixed;

}


#opening-boxes-container {
	display: flex;
	justify-content: center;
    height: 270px;
	gap: 20px;

}

.opening-box {
    flex: 0 250px;
    height: 250px;
}

#prices-boxes-container {
	display: flex;
	justify-content: center;
    height: 270px;
	gap: 20px;

}

table, th,
td {
    border: 1px solid black;
	width: 33%
	
}




ul, ol {
	padding: 0;
	list-style-type: none;
	color: #F2E8CF
}

#info-box {
    margin-top: 5%;
	text-align: center;
}

a:hover {
	text-decoration: none;
	color: chocolate;
}

footer {
	background-color: #6f4e37;
	padding: 1em;
	text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
	z-index: 3;
}

footer > span {
	color: silver;
}

footer > a {
	color: beige;
	text-decoration: none;
	padding: 0 15px;
	font-size: 0.8rem;
}

footer > p {
	color: silver;
}

fieldset {
	border: none;
	margin-top: 20px;
}

input[type=submit] {
	margin-top: 20px;
	margin-left: 0.75rem;
	padding: 0.75rem;
	background-color: #5e361b;
	color: white;
	border: 1px solid #5e361b;
	border-radius: 5px;
}

input[type=reset] {margin-top: 20px;
    margin-left: 0.75rem;
    padding: 0.75rem;
    background-color: #5e361b;
    color: white;
    border: 1px solid #5e361b;
    border-radius: 5px;}

input[type=text],
input[type=email],
input[list=coffees] {
    height: 30px;
    width: 90%;
    padding-left: 10px;
	margin: 0 auto;
}


select {
    height: 36px;
    width: 100px;
    padding-left: 10px;
}

form {
	width: 700px;
	padding: 25px;
	border-radius: 8px;
	margin: 25px auto;
	background-color: #386641;
}

	
	textarea {background-color: #F2E8CF  ;}

	select {background-color: #F2E8CF;}

	input {background-color: #F2E8CF;}

	button {background-color: #F2E8CF;}

.block-label {
	display: block;
}

legend {
	font-size: large;
	font-weight: 600;
	text-transform: uppercase;
	margin: 20px 0 10px 0;
}

label {
    margin: 10px 15px 5px 0;
}

.checkboxes-box div {
    margin-top: 15px;
}

#info-box li {
    margin-top: 5%;
}



/
/* FLEXBOX CLASSES */

.flex {
    display: flex;
	justify-content: space-between;
}

.horizontal-center {
    justify-content: center;
}

.vertical-center {
    align-self: center;
}

.vertical-bottom {
    align-self: flex-end;
}

.last {
    order: 1;
}

.gap-20 {
    gap: 20px;
}
