@import url('https://fonts.googleapis.com/css?family=Merienda+One|Open+Sans&display=swap');

body {
	font-family: 'Open Sans', 'Arial', 'sans-serif';
	margin: 0;
	background-color: #344e41;
	color: #F2E8CF;
	width: 100%
}

h1,h2,h3 {
	font-family: 'Merienda One', 'Brush Script MT', cursive;
	color: #F2E8CF;
	text-decoration: underline; 
}

h1 {
	font-size: 48px;
	margin: 0;
}

h2 {
	font-size: 32px;
}


p {color: #F2E8CF;}



#about {
	padding: 1rem 0;
	margin-bottom: 80px;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1630432328419-bee5f50d6390?q=80&w=2488&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') center center / cover no-repeat fixed;
}


#home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1564769662533-4f00a87b4056?q=80&w=2488&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

.page-header {
	height: 50vh;
	background: center 75% / cover no-repeat;
}


.text-center {
    text-align: center;
	
}


strong {
	font-size: 1.3rem;
}


nav {
	padding: 1rem;
}

nav > a {
	text-decoration: none;
	color: #F2E8CF;
	margin: 1rem;
}

nav > a:hover {
	color: #F2E8CF;
	text-decoration: underline;
}

a {
	text-decoration: none;
	color: #f2e8cf;
	margin: 1rem;
}

.bold {
	font-weight: bold;
}


img {
	border-radius: 8px;
	width: 96%;
	margin: 2%;
}

#story-box {
	background-color: #386641;
    position: relative;
    left: 70px;
    top: -15px;
	box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
	}

#walls-box {
	background-color: #386641;
	position: relative;
	z-index: 1;
	box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
}

#facilities-box {
	background-color: #386641;
    position: relative;
    right: 70px;
    top: -15px;
	box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
	}









.solid {border-style: solid}

.about-box {
	width: 33%;
	margin: 1rem 0;
	display: inline-block;
	
}


#contact {
    margin-bottom: 105px;
	padding: 1rem 0;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1630432328419-bee5f50d6390?q=80&w=2488&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') center center / cover no-repeat fixed;

}


#opening-boxes-container {
	display: flex;
	justify-content: center;
    height: 270px;
	gap: 20px;

}

.opening-box {
    flex: 0 250px;
    height: 250px;
	display: inline-block
}

#prices-boxes-container {
	display: flex;
	justify-content: center;
    height: 270px;
	gap: 20px;

}

#prices {margin-bottom: 80px;
		 
}


table, th,
td {
    border: 1px solid #F2E8CF;
	width: 33%;
	background-color: #386641
	
}




ul {
	padding: 0;
	list-style-type: circle;
	list-style-position: inside;
	color: #F2E8CF
}



#info-box {
    margin-top: 5%;
	text-align: center;
}

a:hover {
	text-decoration: underline;
	
}

footer {
	background-color: #344e41;
	padding: 1em;
	text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
	z-index: 3;
}



footer > a {
	color: beige;
	text-decoration: none;
	padding: 0 15px;
	font-size: 0.8rem;
}

footer > p {
	color: silver;
}

fieldset {
	border: none;
	margin-top: 20px;
}

input[type=submit] {
	margin-top: 20px;
	margin-left: 0.75rem;
	padding: 0.75rem;
	border: 1px solid #344e41;
	border-radius: 5px;
}



select {
    height: 36px;
    width: 100px;
    padding-left: 10px;
}

form {
	width: 700px;
	padding: 25px;
	border-radius: 8px;
	margin: 25px auto;
	background-color: #386641;
}

	
	textarea {background-color: #F2E8CF  ;}

	select {background-color: #F2E8CF;}

	input {background-color: #F2E8CF;}

	button {background-color: #F2E8CF;
			color: #344e41; 	
	}

	button:hover {background-color: #386641;
					color:#F2E8CF;
				  -webkit-transition: 1s ease;
	}


label {
    margin: 10px 15px 5px 0;
}



#info-box li {
    margin-top: 5%;
}

.box-shade {box-shadow: 0.2rem 0.2rem 0.313rem 0.375rem #BDDBC3;}


/* FLEXBOX CLASSES */

.flex {
    display: flex;
	flex-direction: column
}

.horizontal-center {
    justify-content: center;
}

.vertical-center {
    align-self: center;
}

/* Smaller screen styles */

@media screen and (max-width: 1090px) {
    body {
        font-size: 14px;
		width: 100%;
       
    }

	nav {
        flex-direction: column; 
        align-items: center; 
        text-align: center; 
    }

	nav > a {
        margin: 0.5rem;
    }

	.flex {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
	

	#about {display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	
	}


	#story-box {
		background-color: #386641;
		margin: 1rem 0;
		left: 0;
		top: 0;
		box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
		}

		#walls-box {
			background-color: #386641;
			margin: 1rem 0;
		left: 0;
		top: 0;
		box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
		}

		#facilities-box {
			background-color: #386641;
			margin: 1rem 0;
		left: 0;
		top: 0;
		box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	
			}

			#contact {display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;}

				

			section {width: 100%;
					display: flex;
					flex-direction: column;
					align-items: center;
					}

			fieldset {display: flex;
				width: 100%;
					max-height: none;
					box-sizing: border-box;
					min-inline-size: initial;
			}

			textarea {
				max-width: 90%;}

			form {
				width: 100%;
				border-radius: 8px;
				margin: 50px auto;
				background-color: #386641;
			}

		}